.searchAndPaginationBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchBlock {
  display: flex;
}

@media screen and (max-width: 768px) {
  .searchAndPaginationBlock {
    flex-direction: column;
    align-items: stretch;
  }
  .searchBlock {
      margin-bottom: 15px;
      justify-content: space-between;
  }
}
